@import "../../global.scss";

.works {
    height: 700px;

    .wrapper{
        .sections{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 50px 200px 0 200px;
            color: white;
            height: 100%;
            .left{
                align-items: center;
                .logo{
                    font-size: 30px;
                    font-weight: 700 ;
                    text-decoration: none;
                    color: inherit;
                    margin-right: 40px;
                }

                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin: 5px;
                    font-weight: 200;
                    font-size: smaller;
                }
            }

            .center, .centery, .right{
                padding: 0;
                .itemContainer{

                    a{
                        align-items: center;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .center{
                margin-top: -55px;
            }
            .centery{
                margin-top: -80px;
            }
            .right{
                margin-top: -110px;
            }
        }

        .note{
            align-items: center;
            // justify-content: space-between;
            color: white;

            p{
                margin: 30px 200px 30px 200px;
            }
        }
    }
}